* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
body {
    background-color: #6F00F4;
}

.grid {
    display: grid;
    grid-template-columns: 320px 200px;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image {
    width: 200px;
    height: 200px;
    padding-bottom: 40px;
    align-self: center;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: solid 2px black;
    height: 100%;
    width: 100%;
    display: none;
}

.play-button {
    background-color: #FFDB7F;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 20px;
    cursor: pointer;
    border: 2px solid #5B00C9;
}

.play-button:hover {
    background-color: #32F5B8;
}

#game-over {
	z-index: 1;
	width: 320px;
    height: 632px;
	text-align: center;
	background-color: #32F5B8;
	border: 2px solid #5B00C9;
	display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-start {
    z-index: 1;
    width: 320px;
    height: 632px;
    text-align: center;
    background-color: #32F5B8;
    border: 2px solid #5B00C9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    padding-top: 40px;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        padding-left: 40px;
        padding-right: 40px;
        justify-items: center;
    }
}